*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.min_width {
    min-height: 400px;
}

header {
    background-color: #F5726F;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px;
}


.btn {
    margin: 0 auto;
    border-radius: 150px 500px 150px 500px; 
    font-size: 26px;
    font-weight: bold;
    border: 0px;
}

a.btn{
    padding: 15px;
}
.nav {
   display: flex;
   align-items: center;
   margin: 10px auto;
}

.nav-link {
    color:#ffff;
    font-weight: bold;
    font-size: 22px;
}
main {
    width: 100%;
}

#container {
    width: 100%;
   
    
  
}


.servicos {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ADD90D;
}
.nossoServicos  {
    background-color: #278C41;
    width: 60%;
    margin: 10px auto;
    text-align: center;
    color: #ffff;
    border-radius: 350px 500px;
    font-weight: bold;
    padding: 10px;
}

.lista_servicos {
    width: 100;
    display: flex;
    padding: 5px;
    list-style-type: none;
    margin:  0 auto;
    flex-wrap: wrap;
  

}
.listaServicos {
    display: flex;
    margin: 10px auto;
    background-color: #278C41;
    border-radius: 350px 500px;
    width: 220px;
    height: 160px;
    justify-content: center;
    text-align: center;
    align-items: center;
 
   
  

}

h3 {
    color: #ffff;
    font-weight: bold;
    font-size: 26px;
}

.informacoes{ 
    width: 100%;
    background-color: #618C03;
    padding: 20px;
}

.card_informacoes {
    display: flex;
    width: 80%;
    margin: 20px auto;
    flex-wrap: wrap;

}

.card {
    width: 50%;
    padding: 0px;
    border: solid 1px 0px 0 px #d9d9d9;
    


}

.card-body {
    padding: 0px;
}
.card1 {
    height: 346px;
    display: flex;
    border-radius: 8px;
}


.card1 img  {
   width: 100%;
   height: 398px;
   border-radius: 8px;
}
.card2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 398px;
    background:#278C41 ;
    border-radius: 0 150px 0 0 ;
    color: #ffff;
    font-size: 32px;
    font-weight: bold;

}



.card3 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    height: 398px;
    background:#278C41 ;
    color: #ffff;
    
}

